@use "sass:map"; // use Sass map module
@use "config/config"; // load configuration

// Import the core WPMoo framework styles.
@import 'vendor/wpmoo/wpmoo/resources/scss/wpmoo/index';

// Add your own custom styles below.