// 1. Import your local configuration overrides.
// You can customize variables in the config/_settings.scss file.
@forward "config/settings" with (
  $theme-color: '{{INITIAL_THEME}}'
);

// 2. Import the core WPMoo framework styles.
// This will use your local config overrides.
@import 'vendor/wpmoo/wpmoo/resources/scss/wpmoo';

// 3. Add your own custom styles below.